SubmitServer2/www-test/
.svn
SubmitServer2/umd.properties
SubmitServer2/WebRoot/WEB-INF/classes
SubmitServerModelClasses/bin
local.*.properties
SubmitServer2/WebRoot/WEB-INF/lib/modelClasses.jar
BuildServer/lib/modelClasses.jar
CourseProjectManager/bin
SubmitServer2/WebRoot/codereview/
SubmitServer2/dist
SubmitServer2/gwt-unitCache
.gwt
SubmitServer2/src/web.properties
SubmitServer2/WebRoot/WEB-INF/deploy
SubmitServer2/WebRoot/codereview
BuildServer/bin/
BuildServer/build/
BuildServer/lib/clover.jar
BuildServer/run
BuildServer/buildserver.jar
local.build.properties
local.web.properties
CommandLineSubmission/bin
CommandLineSubmission/submit.jar
