SubmitServer2/WebRoot/resources/buildserver.zip
SubmitServer2/compiledJspClasses
SubmitServer2/compiledJspSrc
sampleProjects/*/submission.zip
sampleProjects/*/test-setup.zip
sampleProjects/*/doc/
sampleProjects/*/bin/**
DiffOutputStream/bin/
DiffOutputStream/diffOutputStream.jar
**/*.class
SubmitServer2/www-test/
*.swp
.svn
SubmitServer2/umd.properties
SubmitServer2/WebRoot/WEB-INF/classes
SubmitServerModelClasses/bin
local.*.properties
SubmitServer2/WebRoot/WEB-INF/lib/modelClasses.jar
BuildServer/lib/modelClasses.jar
CourseProjectManager/bin
SubmitServer2/WebRoot/codereview/
SubmitServer2/dist
SubmitServer2/gwt-unitCache
.gwt
SubmitServer2/bugs.xml
submitServer2/compiledJspSrc
submitServer2/compiledJspClasses
SubmitServer2/src/web.properties
SubmitServer2/src/branding.properties
SubmitServer2/WebRoot/WEB-INF/deploy
SubmitServer2/WebRoot/codereview
BuildServer/bin/
BuildServer/build/
BuildServer/lib/clover.jar
BuildServer/run
BuildServer/buildserver.jar
local.*.properties
CommandLineSubmission/bin
CommandLineSubmission/submit.jar
.DS_Store
CourseProjectManager/dist/courseProjectManager.jar
CourseProjectManager/.settings/
CourseProjectManager/dist/edu.umd.cs.eclipse.courseProjectManager.jar
CourseProjectManager/local.properties
SubmitServer2/*.web.properties
SubmitServer2/*.branding.properties
SubmitServer2/*.build.properties
BuildServer/findbugs
sampleProjects/javaWarmup/*.zip
sampleProjects/javaWarmup/bin
sampleProjects/javaWarmupSolution/*.zip
sampleProjects/javaWarmupSolution/bin
sampleProjects/javaWarmup/bin
sampleProjects/javaWarmupSolution/bin
SubmitServer2/extras/
SubmitServerModelClasses/.settings/
SubmitServerModelClasses/src/META-INF/
BuildServer/config.properties
BuildServer/lib/diffOutputStream.jar
SubmitServer2/WebRoot/WEB-INF/lib/gwt-servlet.jar
