.color1 {
  background-color: #66ccff;
}

.color2 {
  background-color: #00cc33;
}

.color3 {
  background-color: #ffcc99;
}

.color4 {
  background-color: #ccff66;
}

.color5 {
  background-color: #b88;
}

.color6 {
  background-color: #9f6;
}
